doctype html
html
    head
        meta(charset="UTF-8")
        title= subject
        style.
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                padding: 20px;
            }
            .container {
                background-color: white;
                padding: 30px;
                border-radius: 10px;
                max-width: 600px;
                margin: auto;
                box-shadow: 0 0 10px rgba(0,0,0,0.1);
            }
            .btn {
                display: inline-block;
                padding: 10px 20px;
                background-color: #28a745;
                color: white;
                text-decoration: none;
                border-radius: 5px;
                margin-top: 20px;
            }
            .otp {
                font-size: 18px;
                font-weight: bold;
                background-color: #f0f0f0;
                padding: 8px 16px;
                border-radius: 6px;
                width: fit-content;
                margin: 10px 0;
            }
            .footer {
                margin-top: 40px;
                font-size: 12px;
                color: #888;
                text-align: center;
            }

    body
        .container
            h1 Hello #{firstName},
            p We received a request to reset your password.
            p Use the code below to reset it:
            .otp #{otp}
            p Or click this link to reset via browser:
            a.btn(href=url target="_blank") Reset Password
            p If you didn’t request a password reset, you can safely ignore this email.
            p Stay secure,  
            p The Team

            .footer
                p &copy; #{new Date().getFullYear()} E-commerce-API by Momen Elshamy
